<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
</head>
<body>

<!-- ======= Register Assist Section ======= -->
<section id="register-assist" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <p class="hero-text" style="font-size: calc(1.3rem + .6vw);font-weight: bold;">Be a homelyAssist by Registering here (ଏଠାରେ ଜଣେ ସଦସ୍ୟ ହୁଅନ୍ତୁ)</p>
                <div class="btn-group">
                    <a href="assist/register" class="btn-get-started">Register</a>
                    <span class="separator"></span><!-- Invisible separator -->
                    <a href="assist/login" class="btn-get-started">Login</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Register Assist Section -->

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>
