<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>homelyAssist - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/homelyAssistlogo.jpeg}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>

    </style>
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="/assets/img/homelyAssistlogo.jpeg" alt="">
            <h1>homelyAssist</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="assist/register" class="active">Be An Assist</a></li>
<!--                <li><a href="assist/search">Find Assist</a></li>-->
                <li><a href="/help">Help</a></li>
            </ul>
        </nav><!-- .navbar -->
        <div class="header-social-links">
            <a href="https://twitter.com/homelyAssist" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/test-automation-factory/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header><!-- End Header -->

<!--&lt;!&ndash; ======= Register Assist Section ======= &ndash;&gt;-->
<!--<section id="register-assist" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-6 text-center">-->
<!--                <p class="hero-text" style="font-size: calc(1.3rem + .6vw);font-weight: bold;">Be a homelyAssist by Registering here (ଏଠାରେ ଜଣେ ସଦସ୍ୟ ହୁଅନ୍ତୁ)</p>-->
<!--                <div class="btn-group">-->
<!--                    <a href="assist/register" class="btn-get-started">Register</a>-->
<!--                    <span class="separator"></span>&lt;!&ndash; Invisible separator &ndash;&gt;-->
<!--                    <a href="assist/login" class="btn-get-started">Login</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>&lt;!&ndash; End Register Assist Section &ndash;&gt;-->

<!-- ======= Image Section ======= -->
<section id="new-section" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <p class="hero-text" style="font-size: calc(1.3rem + .6vw);font-weight: bold;">What are you looking for? (କାହାକୁ ଦରକାର କରୁଛନ୍ତି?)</p>
                <div class="row justify-content-center image-container">
                    <!-- Replace the placeholder content below with your images and descriptions -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <a href="assist/search"><img src="/assets/img/AgricultureAssist.jpeg" alt="Image 1"></a>
                        <div class="image-description" style="font-size: 14px; font-weight: bold;">Agriculture Assist</div>
                    </div>
<!--                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
<!--                        <a href="assist/search"><img src="/assets/img/ElectricityAssist.jpeg" alt="Image 2"></a>-->
<!--                        <div class="image-description" style="font-size: 14px; font-weight: bold;">Electrical Assist</div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
<!--                        <a href="assist/search"><img src="/assets/img/HealthAssist.jpeg" alt="Image 3"></a>-->
<!--                        <div class="image-description" style="font-size: 14px; font-weight: bold;">Health Assist</div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
<!--                        <a href="assist/search"><img src="/assets/img/TransportationAssist.jpeg" alt="Image 4"></a>-->
<!--                        <div class="image-description" style="font-size: 14px; font-weight: bold;">Transportation Assist</div>-->
<!--                    </div>-->
                    <!-- Repeat this for all 16 images -->
                </div>
            </div>
        </div>
    </div>
</section><!-- End Image Section -->


<!-- ======= Download App Section ======= -->
<section id="download-app" class="download-app">
    <div class="container">
        <div class="row align-items-center"> <!-- Align items vertically -->
            <div class="col-lg-6 col-md-6 d-flex align-items-center"> <!-- Align items horizontally -->
                <img src="assets/img/mobile.jpg" alt="Mobile App Icon" class="app-icon" style="max-width: 50px; height: auto;">
                <div class="ms-3"> <!-- Add margin to the left for spacing -->
                    <h3>Download Our Mobile App</h3>
                    <p>Download our mobile app to access our services conveniently from your phone.</p>
                    <div class="text-center">
                        <a href="link-to-your-app-store" class="btn-download-app" target="_blank">Download Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= End of App Section ======= -->

<!-- ======= Text Section ======= -->
<section id="text" class="text" style="background-color: #eaf7ea; padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <h3>Why Choose Our Organization?</h3>
                <p>
                    Our organization strives to empower workers in the unorganized sector by providing them with opportunities in their localities, eliminating the need for migration. We believe that everyone deserves fair compensation and the chance to lead a fulfilling life in their own community.
                </p>
                <p>
                    We are committed to ensuring that individuals living in small cities, towns, and villages have access to reliable services whenever they require assistance. By connecting workers with local residents, we aim to create seamless and undisturbed service experiences.
                </p>
                <p>
                    Our organization adheres to the minimum wage standards set by the Government of India, thereby preventing exploitation and ensuring fair compensation for workers. We also provide essential benefits such as timely payments, bank accounts, credit support, pensions, health insurance, and accident insurance.
                </p>
                <p>
                    Furthermore, we support various vital sectors including agriculture, construction, food, health, transportation, and education. Our goal is to contribute to the well-being and prosperity of communities across different regions.
                </p>
            </div>
        </div>
    </div>
</section><!-- End Text Section -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright">
                    &copy; Copyright <strong><span>homelyAssist</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="/team" style="color: #2E8B57;">homelyAssistTeam</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
    <div class="line"></div>
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>
